{% extends 'base.html.twig' %}

{% block title %}{{ 'CV'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="frame">
            <div class="frame-title">
                <h1>{{ 'Education'|trans }}</h1>
            </div>
            <div class="frame-body">
                <p>
                #TODO
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="frame">
            <div class="frame-title">
                <h1>{{ 'Expériences professionelles'|trans }}</h1>
            </div>
            <div class="frame-body">
                <p>
                #TODO
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="frame">
            <div class="frame-title">
                <h1>{{ 'Telecharger le CV'|trans }}</h1>
            </div>
            <div class="frame-body">
                <p>
                    {{ form(form) }}
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}