{% extends 'base.html.twig' %}
{% block title %}{{ 'Accueil'|trans }}{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="frame">
			<div class="frame-title">
				<h1>{{ 'Présentation'|trans }}</h1>
			</div>
			<div class="frame-body">
				<div class="row">
					<div class="col-12">
						<div class="console">
							<img class="console-bg" src="{{ asset('img/console.png') }}">
							<div class="console-content">
								<p class="console-line">{{ 'Bonjour et bienvenue sur mon site'|trans }}</p>
								<p class="console-line">{{ 'Je m\'appelle Julien ANDREOLI, j\'ai 26 ans et je suis actuellement en BUT Réseaux et telecommunications'|trans }}</p>
							</div>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<button class="button full-width" onclick="window.location.href='/apropos'"> {{ 'A Propos'|trans }}</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="frame">
			<div class="frame-title">
				<h1>{{ ' Me contacter'|trans }}</h1>
			</div>
			<div class="frame-body">
				<form>
					<label for="nom">{{ 'Nom:'|trans }}</label><br>
					<input type="text" id="nom" name="nom" required><br>
					<label for="prenom">{{ 'Prenom:'|trans }}</label><br>
					<input type="text" id="prenom" name="prenom" required><br>
					<label for="mail">{{ 'Mail:'|trans }}</label><br>
					<input type="text" id="mail" name="mail" required><br>
					<label for="message">{{ 'Message:'|trans }}</label><br>
					<textarea name="message" cols="50">{{ 'tapez votre message ici...'|trans }}</textarea><br>
					<input class="button" type="submit" value="Valider">
				</form>
			</div>
		</div>
	</div>
</div>

<script>
	// Console functions
	var lineIndex = 0;
	var drawIndex= 3;
	var lines = [];
	var consoleLinesElems = [];
	var interval= null
	function initConsole(){
		console.log('initialisation of console')
		var consoleLines = document.getElementsByClassName("console-line");
		for(element in consoleLines){
			try{
				var line = consoleLines[element].textContent;
				if (line != null){
					lines.push(">>> ".concat(line));
					consoleLines[element].textContent=""
					consoleLinesElems.push(consoleLines[element])
				}
			}
			catch(error){
				if (error instanceof TypeError){
				}
				else{
					throw error;
				}
			}
		}
		interval=setInterval(drawConsole, 75);
	} 
	function drawConsole(){
		var line = null
		if (consoleLinesElems[lineIndex].classList.contains("active")){
			if (drawIndex<=lines[lineIndex].length){
				if (drawIndex==lines[lineIndex].length){
					line=lines[lineIndex].substring(0,drawIndex)
				}
				else{
					line=lines[lineIndex].substring(0,drawIndex).concat("&#9646;");
				}
				consoleLinesElems[lineIndex].innerHTML = line
				drawIndex++;
			}
			else{
				lineIndex++;
				drawIndex=3;
				if (lineIndex>=consoleLinesElems.length){
					clearInterval(interval)
					interval=setInterval(drawConsole2, 400);
				}
			}
		}
		else{
			consoleLinesElems[lineIndex].classList.add("active");
			line=lines[lineIndex].substring(0,drawIndex+1).concat("&#9646;");
			consoleLinesElems[lineIndex].innerHTML = line
			drawIndex++;
		}
	}
	function drawConsole2(){
		var line=null
		if (lines[lineIndex-1]!=consoleLinesElems[lineIndex-1].textContent){
			line=lines[lineIndex-1]
		}
		else{
			line=lines[lineIndex-1].concat("&#9646;");
		}
		consoleLinesElems[lineIndex-1].innerHTML = line
	}
	initConsole();
</script>
{% endblock %}
