{% extends 'base.html.twig' %}
{% block title %}{{ 'Acceuil'|trans }}{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="frame">
			<div class="frame-title">
				<h1>{{ 'Presentation'|trans }}</h1>
			</div>
			
			<div class="frame-body">
				<!--
				<div class="row">
					<div class="col-9">
						<p>{{ 'Bonjour et bienvenue sur mon site'|trans }}</p>
						<p>{{ 'Je m\'appelle Julien ANDREOLI'|trans }}</p>
					</div>
					<div class="col-3">
						<img class="img-75 align-right" src="{{ asset('img/profil.png') }}">
					</div>
				</div>
				-->
				<div class="row">
					<div class="col-9">
						<div class="console">
							<img src="{{ asset('img/console.png') }}">
							<div class="console-content">
								<p class="console-line">{{ 'Bonjour et bienvenue sur mon site'|trans }}</p>
							</div>
						</div>
					</div>
					<div class="col-3">
						<img class="img-75 align-right" src="{{ asset('img/profil.png') }}">
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="frame">
			<div class="frame-title">
				<h1>{{ 'A propos'|trans }}</h1>
			</div>
			<div class="frame-body">
				<div class="carrousel">
					<div class="carrousel-item">
						<div class="row">
							<h4 class="text-center">{{ 'Photographie'|trans }}</h4>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo1.jpg') }}">
									</div>
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo2.jpg') }}">
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo3.jpg') }}">
									</div>
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo4.jpg') }}">
									</div>
								</div>
							</div>
							<div class="col-6">
								test
							</div>
						</div>
					</div>
					<div class="carrousel-item">
						<div class="row">
							<h4 class="text-center">{{ 'La moto'|trans }}</h4>
						</div>
						<div class="row">
							<div class="col-6">
								<img class="img-100 round-img" src="{{ asset('img/moto.jpg') }}">
							</div>
							<div class="col-6">
								<p>ceci est un test</p>
							</div>
						</div>
					</div>
					<div class="carrousel-item">
						<div class="row">
							<h4 class="text-center">{{ 'La montagne'|trans }}</h4>
						</div>
						<div class="row">
							<div class="col-6">
								<img class="img-100 round-img" src="{{ asset('img/montagne.jpg') }}">
							</div>
						</div>
					</div>
					<button class="button" onclick="changeItem('rec')">-</button>
					<button class="button align-right" onclick="changeItem('adv')">+</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	// Carrousel functions
	var carIndex=0;
	function initCarrousel(){
		var carrousel = document.getElementsByClassName("carrousel-item");
		var carrouselItems = [];
		for (element in carrousel){
			try{
				if (carrousel[element].classList.contains("carrousel-item")){
					carrouselItems.push(carrousel[element]);
				}
			}
			catch(error){
				if (error instanceof TypeError){}
				else{
					throw error;
				}
			}
		}
		carrouselItems[carIndex].classList.add("active");
	}
	function changeItem(dir){
		carrouselItems[carIndex].classList.remove("active");
		if (dir=="adv"){
			carIndex++;
			if (carIndex>carrouselItems.length-1){
				carIndex=0;
			}
		}
		if (dir=="rec"){
			carIndex--;
			if (carIndex<0){
				carIndex=carrouselItems.length-1;
			}
		} 
		carrouselItems[carIndex].classList.add("active");
	}

	// Console functions
	/*
	var consIndex = 0;
	var lines = [];
	var consoleLinesElems = [];
	var active = 0
	function initConsole(){
		var consoleLines = document.getElementsByClassName("console-line");
		for(element in consoleLines){
			try{
				var line = consoleLines[element].textContent;
				if (line != null){
					lines.push(line);
					consoleLines[element].textContent=""
					consoleLinesElems.push(consoleLines[element])
				}
			}
			catch(error){
				if (error instanceof TypeError){
				}
				else{
					throw error;
				}
			}
		}
		setInterval(drawConsole, 500)
	}
	function drawConsole(){
		if (active==0){
			consoleLinesElems[consIndex].classList.remove("active");
			active=1;
		}
		else{
			consoleLinesElems[consIndex].classList.add("active");
			consoleLinesElems[consIndex].textContent = lines[0];
			active=0;
		}
	}
	initConsole();
	initCarrousel();
	*/

</script>
{% endblock %}
