{% extends 'base.html.twig' %}
{% block title %}{{ 'Acceuil'|trans }}{% endblock %}

{% block body %}
<div class="container">
	<div class="row">
		<div class="frame">
			<div class="frame-title">
				<h1>{{ 'Présentation'|trans }}</h1>
			</div>
			<div class="frame-body">
				<p>{{ 'Bonjour et bienvenue sur mon site.'|trans }}</p>
				<p>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="frame">
			<div class="frame-title">
				<h1>{{ 'Loisirs'|trans }}</h1>
			</div>
			<div class="frame-body">
				<div class="carrousel">
					<div class="carrousel-item">
						<div class="row">
							<h4 class="text-center">{{ 'La moto'|trans }}</h4>
						</div>
						<div class="row">
							<div class="col-6">
								<img class="img-100 round-img" src="{{ asset('img/moto.jpg') }}">
							</div>
							<div class="col-6">
								<p>ceci est un test</p>
							</div>
						</div>
					</div>
					<div class="carrousel-item">
						<div class="row">
							<h4 class="text-center">{{ 'La montagne'|trans }}</h4>
						</div>
						<div class="row">
							<div class="col-6">
								<img class="img-100 round-img" src="{{ asset('img/montagne.jpg') }}">
							</div>
						</div>
					</div>
					<div class="carrousel-item">
						<div class="row">
							<h4 class="text-center">{{ 'Photographie'|trans }}</h4>
						</div>
						<div class="row">
							<div class="col-6">
								<div class="row">
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo1.jpg') }}">
									</div>
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo2.jpg') }}">
									</div>
								</div>
								<div class="row">
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo3.jpg') }}">
									</div>
									<div class="col-6">
										<img class="img-100 round-img" src="{{ asset('img/photo4.jpg') }}">
									</div>
								</div>
							</div>
							<div class="col-6">

							</div>
						</div>
					</div>
					<button class="button" onclick="changeItem('rec')">{{ '<<'|trans }}</button>
					<button class="button" onclick="changeItem('adv')">{{ '>>'|trans }}</button>
				</div>
			</div>
		</div>
	</div>
</div>
<script>
	var index=0;
	var carrousel = document.getElementsByClassName("carrousel-item");
	var carrouselItems = [];
	for (element in carrousel){
		try{
			if (carrousel[element].classList.contains("carrousel-item")){
				carrouselItems.push(carrousel[element]);
			}
		}
		catch(error){
			if (error instanceof TypeError){}
			else{
				throw error
			}
		}
	}
	carrouselItems[index].classList.add("active");
	function changeItem(dir){
		carrouselItems[index].classList.remove("active");
		if (dir=="adv"){
			index++;
			if (index>carrouselItems.length-1){
				index=0
			}
		}
		if (dir=="rec"){
			index--;
			if (index<0){
				index=carrouselItems.length-1
			}
		} 
		carrouselItems[index].classList.add("active");
	}
</script>
{% endblock %}
