{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <!-- Administrer -->
        <div class="col-4">
            <div class="frame">
                <div class="initial">
                    <div class="frametitle">
                        <h1>{{ 'Administrer'|trans }}</h1>
                    </div>
                    <p>{{ 'Administrer les réseaux et l\'internet'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir des solutions et des technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les principes fondamentaux de la sécurité informatique'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les règles métiers'|trans }}
                        </li>
                        <li>
                            {{ 'Assurer une veille technologique'|trans }}
                        </li>
                    </ul>
                </div>
                <div class="anim">
                    <div class="frametitle">
                        <h1>{{ 'Administrer'|trans }}</h1>
                    </div>
                    <p>{{ 'Administrer les réseaux et l\'internet'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir des solutions et des technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les principes fondamentaux de la sécurité informatique'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les règles métiers'|trans }}
                        </li>
                        <li>
                            {{ 'Assurer une veille technologique'|trans }}
                        </li>
                    </ul>
                    <button style="justify-self: end;" onclick="window.location.href='/'">{{ 'Lire la suite'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- Connecter -->
        <div class="col-4">
            <div class="frame">
                <div class="initial">
                    <div class="frametitle">
                        <h1>{{ 'Connecter'|trans }}</h1>
                    </div>
                    <p>{{ 'Connecter les entreprises et les usagers'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'démarche scientifique'|trans }}
                        </li>
                        <li>
                            {{ 'Choisir les solutions et les technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Proposer des solutions respectueuses de l\'environnement'|trans }}
                        </li>
                    </ul>
                </div>
                <div class="anim">
                    <div class="frametitle">
                        <h1>{{ 'Connecter'|trans }}</h1>
                    </div>
                    <p>{{ 'Connecter les entreprises et les usagers'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'démarche scientifique'|trans }}
                        </li>
                        <li>
                            {{ 'Choisir les solutions et les technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Proposer des solutions respectueuses de l\'environnement'|trans }}
                        </li>
                    </ul>
                    <button style="justify-self: end;"  onclick="window.location.href='/'">{{ 'Lire la suite'|trans }}</button>
                </div>
            </div>
        </div>
        <!-- Programmer -->
        <div class="col-4">
            <div class="frame">
                <div class="initial">
                    <div class="frametitle">
                        <h1>{{ 'Programmer'|trans }}</h1>
                    </div>
                    <p>{{ 'Créer des outils et applications informatiques pour les réseaux et télécommunications'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir les outils de développement adaptés'|trans }}
                        </li>
                        <li>
                            {{ 'Utiliser les outils numériques à bon escient'|trans }}
                        </li>
                        <li>
                            {{ 'intégrer les problématiques de sécurité'|trans }}
                        </li>
                        <li>
                            {{ 'Documenter le travail réalisé'|trans }}
                        </li>
                    </ul>
                </div>
                <div class="anim">
                    <div class="frametitle">
                        <h1>{{ 'Programmer'|trans }}</h1>
                    </div>
                    <p>{{ 'Créer des outils et applications informatiques pour les réseaux et télécommunications'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir les outils de développement adaptés'|trans }}
                        </li>
                        <li>
                            {{ 'Utiliser les outils numériques à bon escient'|trans }}
                        </li>
                        <li>
                            {{ 'intégrer les problématiques de sécurité'|trans }}
                        </li>
                        <li>
                            {{ 'Documenter le travail réalisé'|trans }}
                        </li>
                    </ul>
                    <button style="justify-self: end;" onclick="window.location.href='/'">{{ 'Lire la suite'|trans }}</button>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}