{% extends 'base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <!-- Administrer -->
        <div class="frame1">
            <div class="initial">
                <div class="frame-title">
                    <h1>{{ 'Administrer'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ 'Administrer les réseaux et l\'internet'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir des solutions et des technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les principes fondamentaux de la sécurité informatique'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les règles métiers'|trans }}
                        </li>
                        <li>
                            {{ 'Assurer une veille technologique'|trans }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="anim">
                <div class="frame-title">
                    <h1>{{ 'Administrer'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ 'Administrer les réseaux et l\'internet'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir des solutions et des technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les principes fondamentaux de la sécurité informatique'|trans }}
                        </li>
                        <li>
                            {{ 'Respecter les règles métiers'|trans }}
                        </li>
                        <li>
                            {{ 'Assurer une veille technologique'|trans }}
                        </li>
                    </ul>
                    <h3>{{ 'Configurer les fonctions de base du réseau local'|trans }}</h3>
                    <div class="progress bottom-margin bg-darkgray">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h3>{{ 'Savoir identifier les dysfonctionnements du reseau local'|trans }}</h3>
                    <div class="progress bottom-margin bg-darkgray">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Connecter -->
        <div class="frame1">
            <div class="initial">
                <div class="frame-title">
                    <h1>{{ 'Connecter'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ 'Connecter les entreprises et les usagers'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'démarche scientifique'|trans }}
                        </li>
                        <li>
                            {{ 'Choisir les solutions et les technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Proposer des solutions respectueuses de l\'environnement'|trans }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="anim">
                <div class="frame-title">
                    <h1>{{ 'Connecter'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ 'Connecter les entreprises et les usagers'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'démarche scientifique'|trans }}
                        </li>
                        <li>
                            {{ 'Choisir les solutions et les technologies adaptées'|trans }}
                        </li>
                        <li>
                            {{ 'Proposer des solutions respectueuses de l\'environnement'|trans }}
                        </li>
                    </ul>
                    <h3>{{ 'Déployer des supports de transmission'|trans }}</h3>
                    <div class="progress bottom-margin bg-darkgray">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- Programmer -->
        <div class="frame1">
            <div class="initial">
                <div class="frame-title">
                    <h1>{{ 'Programmer'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ 'Créer des outils et applications informatiques pour les réseaux et télécommunications'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir les outils de développement adaptés'|trans }}
                        </li>
                        <li>
                            {{ 'Utiliser les outils numériques à bon escient'|trans }}
                        </li>
                        <li>
                            {{ 'intégrer les problématiques de sécurité'|trans }}
                        </li>
                        <li>
                            {{ 'Documenter le travail réalisé'|trans }}
                        </li>
                    </ul>
                </div>
            </div>
            <div class="anim">
                <div class="frame-title">
                    <h1>{{ 'Programmer'|trans }}</h1>
                </div>
                <div class="frame-body">
                    <p>{{ 'Créer des outils et applications informatiques pour les réseaux et télécommunications'|trans }}</p>
                    <ul>
                        <li>
                            {{ 'Choisir les outils de développement adaptés'|trans }}
                        </li>
                        <li>
                            {{ 'Utiliser les outils numériques à bon escient'|trans }}
                        </li>
                        <li>
                            {{ 'intégrer les problématiques de sécurité'|trans }}
                        </li>
                        <li>
                            {{ 'Documenter le travail réalisé'|trans }}
                        </li>
                    </ul>
                    <h3>{{ 'Utiliser un système informatique et ses outils'|trans }}</h3>
                    <div class="progress bottom-margin bg-darkgray">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                    <h3>{{ 'Traduire un algorithme, dans un langage et pour un environnement donné'|trans }}</h3>
                    <div class="progress bottom-margin bg-darkgray">
                        <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var progressbars = Array.from(document.getElementsByClassName('progress-bar'));
    for (elementnb in progressbars){
        var value = progressbars[elementnb].getAttribute("aria-valuenow")
        var result= "width: ".concat(value,"%")
        progressbars[elementnb].setAttribute("style", result)
    }
</script>
{% endblock %}