{% extends 'base.html.twig' %}
{% block title %}{{ 'Gestion prestations'|trans }}{% endblock %}

{% block body %}
<div class="container">
    <div class="frame">
        <div class="frame-title">
        <h1>Prestations</h1>
        </div>
        <div class="frame-body">
            <form action="/ajout_panier" method="POST">
            {% for prestation in prestations %}
                <div class="frame">
                    <div class="frame-title">
                        <input type="checkbox" class="checkbox1" name="presta[]" id="staticPresta" value="{{prestation.id}}">
                        <label for="staticPresta" ><h1>{{prestation.nom}}</h1></label>
                    </div>
                    <div class="frame-body">
                        <p>{{prestation.description}}</p>
                        <p><strong>Prix: </strong>{{prestation.prix}}</p>
                    </div>
                </div>
            {% endfor %}
            <button type="submit" class="button">Passer Commande</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}